{# Use generic blocks #}
{% use "block/generic.twig" %}
{% use "block/header.twig" %}
{% use "block/footer.twig" %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ block('title') }}</title>
  {{ block('meta') }}
  {{ block('style') }}
</head>
<body>
  {{ block('header') }}

  <div class="container mb-2">
    <div class="p-2 mb-2">
      <div class="row">
        <div class="col-9">
          <div class="main-banner">
            <div class="card">
              <div class="card-block">
                <div class="owl-carousel owl-theme">
                  <div> Your Content </div>
                  <div> Your Content </div>
                  <div> Your Content </div>
                  <div> Your Content </div>
                  <div> Your Content </div>
                  <div> Your Content </div>
                  <div> Your Content </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-block">
              <h6 class="card-title text-center">Special products</h6>
              {% block main_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{ block('footer') }}

</body>
</html>
